# test files use LF and tests fail if the data is parsed as CRLF
* text=auto eol=lf

# Give ddlog files syntax highlighting
*.dl linguist-language=prolog

# Mark ddlog generated code as vendored and don't try to merge them
crates/rslint_scope/generated/ linguist-vendored -diff
