.custom-block
  &.eslint
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
    background-color: #d4d4f7
    border-color: #4B32C3
    color darken(#d4d4f7, 70%)